<div class="blogs">
    <h1 class="text-center">All Blogs</h1>

    <div class="blogs-container">
        <% @blogs.each do |blog| %>
            <%= render partial: "shared/blog_preview", :locals => {blog: blog} %>
        <% end %>
    </div>
</div>