<div>
    <h1 class="text-center">My Account</h1>

    <div class="manage-account-container">
        <%= button_to "Logout", logout_path, method: :delete, class: "account-button logout" %>
        <%= button_to "Delete Account", delete_account_path, method: :delete, class: "account-button delete" %>
    </div>
</div>