.account_form {
    font-size: 1.1rem;
    margin: 4ch auto;
    width: 40%;
    min-width: 325px;
}

.account_form input:not(input[type="submit"]) {
    display: block;
    margin-top: 0.3ch;
    font-size: inherit;
    width: 100%;
    padding: 0.4ch 0;
    text-indent: 0.3rem;
    border: 1px solid gray;
    border-radius: 5px;
}

.account_form input:not(input[type="submit"]):focus {
    outline: 2px solid #a8d8ff;
}

.form-section {
    margin-bottom: 2ch;
}

.submit-form {
    display: block;
    margin: 0 auto;
    width: unset;
    padding: 1ch 2.5ch;
    font-size: inherit;
    background: #2149d9;
    color: rgba(255, 255, 255, 0.87);
    border-radius: 5px;
    border: none;
    transition: filter 0.3s;
}

.submit-form:hover {
    cursor: pointer;
    filter: brightness(85%);
}

.form-alert {
    background: #c70216 !important;
}

.forgot-password {
    display: block;
    margin-top: 0.5ch;
}
