.flash-container {
    padding: 2ch 0;
    width: 60%;
    margin: 2ch auto;
    font-size: 1.1rem;
    border-radius: 8px;
}
.flash-success {
    background: #29e360;
}
.flash-alert {
    background: #eb3131;
}